<!DOCTYPE html>
<html>
  <head>
    <title>game</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>game over</h1>
    <a href="/">titleへ</a>
	<a href="/game">restart</a>
  </body>
</html>
