<!DOCTYPE html>
<html>
  <head>
    <title>game</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/socket.io/socket.io.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/javascripts/client.js"></script>
  </head>
  <body>
	<img alt="player" src="/images/unit.png" class="player" id="my-player" />
	<img alt="bullet" src="/images/bullet.png" class="bullet" id="my-bullet" />
  </body>
</html>
