<!DOCTYPE html>
<html>
  <head>
    <title>game</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>game</h1>
    <p><a href="/game">start</a></p>
  </body>
</html>
