### https://raw.github.com/github/gitignore/b304edf487ce607174e188712225b5269d43f279/composer.gitignore

composer.phar
vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock


