<!--
angular component sample
@see http://qiita.com/suetake/items/f61b4413eefeb60ef7fb
-->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Todo App</title>
</head>
<body ng-app="todoApp">
  <todo-list></todo-list>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-resource.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-mocks.js"></script>

  <script src="todoApp/app.js"></script>
  <script src="todoApp/mock.js"></script>
  <script src="todoApp/components/todoList.js"></script>
  <script src="todoApp/controllers/todoListController.js"></script>
  <script src="todoApp/factories/taskResource.js"></script>
</body>
</html>
